body {
   margin: 10px auto;
   background-color: #cccccc;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper {
   display: block;
   margin: 0 auto;
   max-width: 1200px;
   /*padding: 10px;*/
   background-color: lightgreen;
   /*border: 2px solid grey;*/
   margin-bottom: 20px;
   padding-bottom: 20px;
}
.header__title {
   padding: 20px;
   text-align: center;
   color: grey;
   letter-spacing: 5px;
}
.text-area {
   border: 2px solid grey;
   padding: 20px;
   width: 90%;
   height: 300px;
   /*font-size: 20px;*/
   color: grey;
}
.button {
   margin: 0 auto;
   min-width: 55px;
   height: 60px;
   padding: 0 5px;
   border-radius: 10px;
   background-color:bisque;
   color: grey;
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 18px;
}
.button:hover {
   cursor: pointer;
   background-color: #cccccc;
}
.button-area {
   padding: 15px 5px;
   display: flex;
   flex-wrap: wrap;
   gap: 5px;
}
.button-pressed {
   background-color: burlywood;
}
.button:active {
   background-color: burlywood;
}
.subtitle {
   padding: 20px;
   text-align: center;
   color: grey;
   letter-spacing: 5px;
   font-size: 20px;
}
